<section>
  <h1>Categories</h1>
  <ul>
    <li>
      <a href="/atom.xml"><img src="../images/rss.png" class="side-rss-img" /></a> &nbsp;<a href="/blog/archives">All</a>
    </li>
    <li>
      <a href="/blog/categories/lifestyle/atom.xml"><img src="../images/rss.png" class="side-rss-img" /></a>&nbsp;<a href="/blog/categories/lifestyle">Lifestyle</a>
    </li>
    <li>
      <a href="/blog/categories/code/atom.xml"><img src="../images/rss.png" class="side-rss-img" /></a>&nbsp;<a href="/blog/categories/code">Code</a>
    </li>
  </ul>
</section>
