<section>
  <h1>Categories</h1>
  <ul>
    <li>
      <a href="/atom.xml"><img src="/../images/rss.png" class="side-rss-img" /></a> &nbsp;<a href="/blog/archives">All</a>
    </li>
    <li>
      <a href="/blog/categories/code/atom.xml"><img src="/../images/rss.png" class="side-rss-img" /></a>&nbsp;<a href="/blog/categories/code">Code</a>
    </li>
    <li>
      <a href="/blog/categories/events/atom.xml"><img src="/../images/rss.png" class="side-rss-img" /></a>&nbsp;<a href="/blog/categories/events">Events</a>
    </li>
    <li>
      <a href="/blog/categories/community/atom.xml"><img src="/../images/rss.png" class="side-rss-img" /></a>&nbsp;<a href="/blog/categories/community">Community</a>
    </li>
    <li>
      <a href="/blog/categories/people/atom.xml"><img src="/../images/rss.png" class="side-rss-img" /></a>&nbsp;<a href="/blog/categories/people">People</a>
    </li>
  </ul>
</section>