<div class=" footer sixteen columns" align="right">
  <p>
    <table>
      <tr>
        <td>
          <a href="#" class="poweredimage">powered by livingsocial & jumpstartlab</a>
        </td>
        <td class="hungry">
          <a href="http://twitter.com/#!/HungryAcademy" class="twitterimage">@hungryacademy</a>
        </td>
        <td>
          <a href="mailto:hungryacademy@livingsocial.com" class="emailimage">hungryacademy@livingsocial.com</a>
        </td>
      </tr>
    </table>
  </p>
</div>