div.container > header {
  background: $header-bg;
  h1 {
    margin: 0;
    padding: 80px 0;
    display: block;
    text-indent: -9999px;
    font-size: 46px;
    line-height: 50px;
    background: transparent url("/../images/header-sprite.png") no-repeat top center;
    background-position: 17px 0;
    a, a:visited, a:hover {
      display: none;
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
