// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


body { background: #ccc url("/../images/noise.png") repeat top left; font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #262626; -webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%; }
body p { color: #777; }
p { -webkit-margin-before: 0; -webkit-margin-after: 0; }
h1 { font-size: 2.2em; }
h1, h2, h3, h4, h5, h6 { text-rendering: optimizelegibility; margin: .7em 0; font-weight: bold; }
.sixteen.columns { width: 940px; background:none; }
.container { position: relative; width:960px; margin: 0 auto; padding: 0; }
#main { display: inline; }
.column, .columns { float: left;display: inline;margin-left: 10px;margin-right: 10px; }
.force-wrap, article a, aside.sidebar a { text-decoration: none; }
body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {   }
#content > div, #content > article { padding-top: 0px; }
body > div, body > div > div { background: 0; border-bottom: 0px; border-right: 0px; }
#content { margin: 0 270px 0 10px; padding-top: 20px; background: #f3f3f4 url("/../images/noise.png") repeat top left; }

// navigation
nav { position: relative; display: inline-block; background: #999 url("/../images/noise.png") repeat top left; width: 940px; margin: 0px 10px 0px; }
nav ul { margin: 0; text-align: center; }
nav ul li { line-height: 18px; margin-bottom: 12px; display: inline; }
nav ul li a { display: inline-block; margin: 0 20px; padding: 10px 10px; color: white; text-decoration: none;}
ul#main-navigation { list-style: none; margin-bottom: 0; }
ul#main-navigation li a { color: #fff; }

// sidebar
aside.sidebar { border-top: 5px solid #262626; text-shadow: none; padding: 0 0px 10px 60px; width: 200px; background: #999 url("/../images/noise.png") repeat top left;  }
aside.sidebar a { font-size: 10pt; }
aside.sidebar a, aside.sidebar section h1 { color: #262626; }
aside.sidebar a:hover { text-decoration: underline; }
aside.sidebar li { border-bottom: 0px solid #fff; border-top: 0px solid #fff; }
aside.sidebar section h1 { border-bottom: 0px solid #fff; }
.side-shadow-border, aside.sidebar section h1, aside.sidebar li { -moz-box-shadow: #fff 0px 0px; -webkit-box-shadow: #fff 0px 0px; -o-box-shadow: #fff 0px 0px; box-shadow: #fff 0px 0px; }
img.side-rss-img {width: 13px;}
aside.sidebar img {border: none;}
aside.sidebar ul li a:first-child { }

// markdown style
p code, li code { color: #ccc; background: #454545; border: 1px solid #454545; vertical-align: 10%; }
figure.code { margin: .7em 0; }
.code-title, html .gist .gist-file .gist-meta a[href*="#file"], h3.filename, figure.code figcaption { border-top-color: #565656; border-left-color: #565656; border-right-color: #565656; }

// article
#content .blog-index article { padding-top: 0; }
h1.entry-title a:hover { text-decoration: none; }

// archive
#blog-archives h1 { color: #aaa;}
#blog-archives h1 a { color: inherit; }

// footer
a.poweredimage { display: block; width: 305px; height: 25px; background: url('/images/footer-powered.png') top no-repeat; text-indent: -99999px; }

a.twitterimage {display: block; width: 35px; height: 25px; background: url('/../images/twitter.png') top no-repeat; text-indent: -99999px; background-position: 0 4px;}
a.twitterimage:hover {background-position: 0 -18px;}
a.emailimage {display: block; width: 30px; height: 25px; background: url('/../images/email1.png') top no-repeat; text-indent: -99999px; background-position: 0 5px;}
a.emailimage:hover {background-position: 0 -24px;}